AttributeError: 'swu' object has no attribute 'negotiated_prf'

It seems at least some ePDG out there are not including all the data required / expected by SWu-IKEv2 in the IKE_INIT message. This leads swu.negotiated_prf not to ever be set, which subsequently leads to a related exception:

```
STATE 1:
-------
NAT SOURCE 4031139f133ce711b339d2f6d5cb51e22994e9da
NAT DESTINATION 8bc8ce38a7ef84d3e96040ff8e76013aa0790d23
sending IKE_SA_INIT
received decoded message:
[[41, [0, 16390, b'', b'\x00\x00B\x99 Z\xc2\xba\x15\x82s\xc1\xa8\x8f\xa0\x01']]]
received IKE_SA_INIT
Traceback (most recent call last):
  File "/space/home/laforge/projects/git/SWu-IKEv2/./swu_emulator.py", line 3290, in <module>
    main()
  File "/space/home/laforge/projects/git/SWu-IKEv2/./swu_emulator.py", line 3285, in main
    a.start_ike()
  File "/space/home/laforge/projects/git/SWu-IKEv2/./swu_emulator.py", line 2788, in start_ike
    result,info = self.state_1()
  File "/space/home/laforge/projects/git/SWu-IKEv2/./swu_emulator.py", line 2103, in state_1
    self.generate_keying_material()
  File "/space/home/laforge/projects/git/SWu-IKEv2/./swu_emulator.py", line 1773, in generate_keying_material
    hash = self.prf_function.get(self.negotiated_prf) 
AttributeError: 'swu' object has no attribute 'negotiated_prf'
````

I get this when trying to talk to one of T-Mobile Germany's ePDGs, specifically
`epdg.epc.mnc001.mcc262.pub.3gppnetwork.org. 70207 IN A 109.237.187.195`


Ah, it seems this ePDG implements RFC 5996 Section 2.6 where the first response is a IKE_SA_INIT response with a COOKIE payload, which mus then be subsequently included in a re-transmission of the IKE_SA_INIT request. 

https://www.rfc-editor.org/rfc/rfc5996.html#section-2.6

I'll see if I can hack up a patch for that.

Hi thanks for your message. 
I will try to add that functionality.

I have now hacked support into a forked version, will push it to github soon.

I'm now running into "OTHER ERROR: 24", but that is a separate problem which I'm looking at right now:
```
STATE 1:
-------
NAT SOURCE 8e6952d449e511f39c307a0c35846efc421b607e
NAT DESTINATION 53fe2da96ca49b117240d4034a660eeec66fd08e
sending IKE_SA_INIT
received decoded message:
[[41, [0, 16390, b'', b'\x00\x00!\xd0\xfe\xba\x05\x99U3\xf4\xfe.X\x06\xc8']]]
received IKE_SA_INIT
notify: b'\x00\x00@\x06\x00\x00!\xd0\xfe\xba\x05\x99U3\xf4\xfe.X\x06\xc8'
NAT SOURCE 8e6952d449e511f39c307a0c35846efc421b607e
NAT DESTINATION 53fe2da96ca49b117240d4034a660eeec66fd08e
sending IKE_SA_INIT
received decoded message:
[[33, [3, 1, b'']], [34, [2, b'\xe5\xfa\xb5\x8c\xda\xbaW\xabc\x81\xd8m\xb7\x99F\xbbHg~>\x84\x92\xa2b\xd8\xed\x92\x82m\xa1w\x0eWQ\x13\x88D\xd1\x02Lh\xdf\xbd\x01d\x90\xf2\xd4 \xee^\xed\x8d\t\x96\xb6\xd2\xe3\xd6\t%\x1aq\x07\xecy\x00\x86\x87\x1d\x7f9e\xdf\x1e\xb3\xc2\xb1\xdap$O\x924\xd9\xae\xb2\xe6e\xe8\xfd>\xf2\xb2\x0b\x8ad\x9d\x01\x19uv\xc3*K\n&2\xbb\rh\xd5\xfbr\xb2\xa4)\xfc\\\xd0q\xa2\xa7\x15W\x80\xf7\x88']], [40, [b'\x8e\x7fkt\xa7d\x0b\xcc\xcc\xd2c\xf8\x1c\x1a#\x0f']], [41, [1, 16388, b'', b'\xdf\x01k\xe5\xdcq\xb8[\x9a\xb5\x02\x8d"\xc1\xe8\xfaIE\x87\xbe']], [41, [1, 16389, b'', b'\x0e\xc4h\x99\xbcB\n\xdc\x04\x9b\xbf\xd4\xc5"A\xee\xfc\xe79\xe8']]]
received IKE_SA_INIT
sa_negotiated=[[1, 0], [1, 12, [(14, 1), 128]], [2, 2], [3, 2], [4, 2]]
DIFFIE-HELLMAN KEY 53f99eb255a96fdb5342bf615de61b1cb2db3621c758df15be8e000159443622390522dc518799f0815870a1d3d1003179ad9c63a2b424f7424d4dfab80f6e44463fbebadf2546d78d28c9a4ae69000e033b0629f6905aa5f95392cc43b003fb10800a4bf77b0a436c4e547ccfdc7bfa65525e7c3b8aa3379a68ba342929640b
NAT SOURCE RECEIVED df016be5dc71b85b9ab5028d22c1e8fa494587be
NAT SOURCE CALCULATED df016be5dc71b85b9ab5028d22c1e8fa494587be
NAT DESTINATION RECEIVED 0ec46899bc420adc049bbfd4c52241eefce739e8
NAT DESTINATION CALCULATED 9280607b31e9120796be4677674a61282bd2badc
SKEYSEED 68c3b735d2ac9cee1c22a6b87936161bae5ba4c2
STREAM cdd671343ed05f19dbc32679d5c25a758e7f6b74a7640bccccd263f81c1a230f6770786637141f92cd1be46904288b82
SK_D 5ac0543a1e7e82355ac83f4b2be722751018a9ec
SK_AI 6c06c992590a9699ecaadd0473c696a6511b640e
SK_AR d660d4c1792e2666db9e1104eb6e607317b54c98
SK_EI 8a17f65dcbb3726176cfffb5eab3f98e
SK_ER 81dacb3a87337bea32e5f7df5ecb9775
SK_PI 5cc4220d7b6a5985d20ee4c976b4519c7c63a2ec
SK_PR a9824e91f26f5e153571b8e1508a895791252aba
IKE SPI INITIATOR 6770786637141f92
IKE SPI RESPONDER cd1be46904288b82

STATE 2:
-------
sending IKE_AUTH (1)
received decoded message:
[[46, [[41, [0, 24, b'', b'']]]]]
received IKE_AUTH (1)
OTHER_ERROR : 24
```

The hacks for the COOKIE are now in https://github.com/sysmocom/SWu-IKEv2 - it however is just a hack, i.e. it will fail if a ePDG without COOKIE is used.

Hi,
I uploaded a new version. I changed several things. I'm newbiie on github, probably there is a better way to merge or check the difference between files, but i just deleted the old one and uploaded the new one.

I tested this version, even with 768 bits in the KE, and it works (until the error due to the fact i don't have any t-mobile imsi).
The first message the epdg answers back with cookie, the second it answers back with invalid ke payload, then the correct proposal is chosen, and the third sa_init response is ok. The sa_auth is sent, and in the answer i get the error 24 (AUTHENTICATION ERORR) just like you.

Thanks.  The "problem" with the auth error is that at that point, this is way before the EAP-AKA happens, i.e. before the SIM is used for anything except reading the IMSI.    I've just re-tested with a comemrcial UE, and VoWiFi works just fine.  So there must be something different with the phase2 handshake.  Unfortunately I cannot decrypt the iKEv2 of the commercial UE due to the lack of keys.  Looking at the decrypted  output of your softwre in wireshark looks fine. the NAI is exectly how it is supposed to be.


Using the ePDG of Vodafone E, I get a similar problem:
```
sending IKE_AUTH (1)
received decoded message:
[[46, []]]
received IKE_AUTH (1)
MANDATORY_INFORMATION_MISSING : NO EAP PAYLOAD RECEIVED
```
This is using -M 262 -N 02 -d 139.7.117.169 -m 0

Like in the T-Mobile DE case, the IMSI is read from the card and the NAI is formed correctly.  However, it fails even before EAP-AKA is performed.

You need to use -N 002, since the realms are always with 3 digits.
you need to specify the apn also. 
Usually operators only allow ims apn on non-3gpp access, and if the imsi is not allowed to use non-3gpp the AAA will reject the ePDG request, and you don't get any RAND/AUTN.

yes, sorry, the -N 002 was used. The NAI was as expected 0262029914xxxxxx@nai.epc.mnc002.mcc262.3gppnetwork.org (xxxxxx for privacy)

I've tried different APN, including ims. ims certainly is the correct one, as this is publicly stated by the MNOs and also can be found at https://github.com/zakooz/SM-G930F_system_etc/blob/master/epdg_apns_conf.xml (android config file of a samsung phone).

APN in the T-Mobile DE case is then rendered as ims.apn.epc.mnc001.mcc262.3gppnetwork.org in the IKE_AUTH req.


as stated, both my T-Mobile DE and Vodafone DE SIM cards can do VoWiFi just fine in a commercial UE (Galaxy S9) just minutes before and after the test here.  So there must be something different about the IKE_AUTH generated by your tool. It's of course hard to debug without knowing what happens on the ePDG side.  I may be trying to establish the SWu connection using strongswan shortly.

can you share a pcap file with matching wireshark IKEv2 decryption information of a successful case against another ePDG? 

Hi,
maybe those operators need some specific payloads.
I have traces but i cannot share them for confidentiality reasons. but what i can tell you is most operators use the payloads i send (i send and example in the end)

Can you try to replace this line:

self.set_identification(IDR,ID_FQDN, self.apn + '.apn.epc.mnc' + self.mnc + '.mcc' + self.mcc + '.3gppnetwork.org')
by this one?
self.set_identification(IDR,ID_FQDN, self.apn)

I was looking at some traces i have from inbound roamers decrypted in the ePDG, and usually terminals use this format (only the apn name without any operator information).

The IKE_AUTH includes the SA_CHILD proposal, it would be strange the ePDG do reject with AUTHENTICATION ERROR if none of the proposals meet the expected for ipsec...

![image](https://user-images.githubusercontent.com/69990767/129968992-4f563598-12b5-4501-9ea2-bd947cb22a78.png)

Can you send me an email (my address is in my profile)? I would like to discuss a test scenario with you

I did some tests just replacing the apn format without the operator information, and now i receive RAND/AUTN.
Can you please try again after changing the line above?

Thanks, indeed that did the trick, I'm now also getting to the next step of receiving the AKA challenge.  The interfacing to the USIM/ISIM doesn't yet work, as discussed in #4 and #5 - I'm looking at that now.

with some more local hacks I now have manage to bring it up fully. thanks for your kind assistance.  I will clean up the changes.

Ok I close this issue, and replace the IDR line in the code.